In [2]:
import pandas as pd

In [24]:
df = pd.read_csv("IRIS.csv")

In [4]:
df.head(10)
df.shape
df.dtypes
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df[ (df["petal_length"] > 4.5) & (df["species"] == "Iris-virginica")].head(5)

     sepal_length  sepal_width  petal_length  petal_width         species
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

In [11]:
df.groupby("species")["sepal_length"].mean()
df.groupby("species")["petal_width"].max()
df.groupby("species")["sepal_width"].std()

df.groupby("species").agg(
    mean_sepal_length = ("sepal_length", "mean"),
    max_petal_width = ("petal_width", "max"),
    std_sepal_width = ("sepal_width", "std")
)

                 mean_sepal_length  max_petal_width  std_sepal_width
species
Iris-setosa                  5.006              0.6         0.381024
Iris-versicolor              5.936              1.8         0.313798
Iris-virginica               6.588              2.5         0.322497

In [28]:
# df = df.assign(petal_ratio = df["petal_length"] / df["petal_width"])
df["petal_ratio"] = df[["petal_length", "petal_width"]].apply(lambda x: x[0]/x[1])

# df.groupby("species")["petal_ratio"].mean()

In [25]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]